body{
    background-color:rgb(255, 221, 154);
    margin: 0;
    padding: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px

}
.eyes{
    width:200px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}
.pupil{
  width:50px;
  height: 50px;
  background-color: #37b1f7;
  border-radius: 50%;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border: 8px solid rgba(0, 0, 0, 0.759);

}
